body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    letter-spacing: .2px;
    text-size-adjust: 100
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stroke {
  pointer-events: none
}
